
 .material-icons.dark { color: rgb(0, 0, 0); }
 .material-icons.light{color: rgb(51, 47, 47);}
 .material-icons.md-30 { font-size: 30px; }
 .material-icons.md-48 { font-size: 48px; }
 .material-icons-outlined.md-48 { font-size: 48px; }
 
 .material-icons.sidebarIcon {margin-right: 10px; vertical-align:middle;}