.homepage{
    background-image:url('https://img.freepik.com/free-photo/blank-spiral-notepad-pen-coffee-cup-eyeglasses-pushpins-white-background_23-2147916448.jpg?size=626&ext=jpg&ga=GA1.2.1634518924.1668298657');
    background-repeat: no-repeat,no-repeat;
    background-color:rgb(234, 232, 229) !important;
    background-size:100% 100%;
    background-position: cover;
  
}